<div class="container mt-3 mb-3">
    <h1 class="fw-bold text-start mb-4">Welcome to your account</h1>
  
    <!-- Information Section -->
    <div class="card mb-4 shadow-sm">
      <h2 class="card-header bg-light fw-bold">Information</h2>
      <div class="card-body">
        <div class="mb-3">
          <label class="form-label field-label">Merchant ID:</label>
          <p class="form-control-plaintext field-value">{{merchant.merchantId}}</p>
        </div>
        <div class="mb-3">
          <label class="form-label field-label">Merchant Password:</label>
          <p class="form-control-plaintext field-value">{{merchant.merchantPassword}}</p>
        </div>
        <div class="mb-3">
          <label class="form-label field-label">Business Email:</label>
          <p class="form-control-plaintext field-value">{{merchant.businessEmail}}</p>
        </div>
        <div class="mb-3">
          <label class="form-label field-label">Business Name:</label>
          <p class="form-control-plaintext field-value">{{merchant.businessName}}</p>
        </div>
        <div class="mb-3">
          <label class="form-label field-label">Legal Name:</label>
          <p class="form-control-plaintext field-value">{{merchant.legalName}}</p>
        </div>
        <div class="mb-3">
          <label class="form-label field-label">Legal Lastname:</label>
          <p class="form-control-plaintext field-value">{{merchant.legalLastname}}</p>
        </div>
      </div>
    </div>
    <div class="card shadow-sm">
      <h2 class="card-header bg-light fw-bold">Payment Subscriptions</h2>
      <div class="card-body">
        <p *ngIf="subscriptions.length < 1">No active subscriptions.</p>
        <p *ngFor="let subscription of subscriptions">{{subscription.name}}</p>
        <div class="form-group mb-3 text-left">
            <button class="btn btn-primary btn-block" (click)="showModal();">Add new payment method</button>
        </div>
      </div>
    </div>

    <!-- Modal for assigning new subscriptions -->
    <div class="overlay" *ngIf="showAssignModal">
      <div class="centered-content">
        <h3 class="d-flex justify-content-between align-items-center font-weight-bold title mb-5">
          <span>Choose payment methods</span>
          <span><a (click)="hideModal()"><img src="../../assets/icons/icons8-close-50.png" class="icon-size"></a></span>
        </h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Name</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr *ngFor="let method of notSubscriptions; let i = index;">
              <td>{{method.name}}</td>
              <td>
                  <input type="checkbox" (click)="completeItem(method)">
              </td>
            </tr>
          </tbody>
        </table>
        <div class="form-group mb-3 text-center">
          <button class="btn btn-primary btn-block" type="submit">Confirm</button>
        </div>
      </div>
    </div>
</div>