<div class="container mt-5 w-50">
    <h1 class="text-center fw-bold">Choose your payment type</h1>
    <div class="mt-5">
        <!-- Bank Payment Section -->
        <div class="mb-3">
            <h5 class="fw-bold">Bank</h5>
            <div
                class="option mb-1 d-flex align-items-center"
                *ngFor="let method of bankMethods"
            >
                <input
                    type="radio"
                    name="payment"
                    [id]="method.name"
                    class="me-2"
                    (click)="selectPaymentMethod(method)"
                />
                <label [for]="method.name" class="w-100">{{ method.name }}</label>
            </div>
        </div>
        <!-- Wallet Payment Section -->
        <div class="mb-3">
            <h5 class="fw-bold">Wallet</h5>
            <div
                class="option mb-1 d-flex align-items-center"
                *ngFor="let method of walletMethods"
            >
                <input
                    type="radio"
                    name="payment"
                    [id]="method.name"
                    class="me-2"
                    (click)="selectPaymentMethod(method)"
                />
                <label [for]="method.name" class="w-100">{{ method.name }}</label>
            </div>
        </div>
        <!-- Crypto Payment Section -->
        <div class="mb-3">
            <h5 class="fw-bold">Crypto</h5>
            <div
                class="option mb-1 d-flex align-items-center"
                *ngFor="let method of cryptoMethods"
            >
                <input
                    type="radio"
                    name="payment"
                    [id]="method.name"
                    class="me-2"
                    (click)="selectPaymentMethod(method)"
                />
                <label [for]="method.name" class="w-100">{{ method.name }}</label>
            </div>
        </div>
        <!-- Proceed to Payment Button -->
        <div class="d-flex justify-content-center mt-3">
            <button
                [disabled]="selectedPaymentMethod.name === ''"
                class="btn btn-primary px-5"
                (click)="executePayment()"
            >
                Proceed to Payment
            </button>
        </div>
    </div>
    <div class="position-absolute bottom-0 start-0 mt-3 ms-3">
        <label class="fw-bold" style="font-size: medium;">Merchant:
            {{ subscription.merchantEmail }}</label>
    </div>
</div>